/PluralSight_DP_StructuralPatterns/NetBeansProjects/StructuralDesignPatterns/nbproject/private/
/PluralSight_DP_StructuralPatterns/nbproject/private/
/PluralSight_DP_StructuralPatterns/build/
/PluralSight_DP_StructuralPatterns/dist/